<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="params" default="params_sim.yaml" doc="agent configuration file"/>


    <rosparam command="load" file="$(find rl_node)/cfg/$(arg params)" ns="node"/>

    <node pkg="rl_node" type="docker_starter.sh" name="rl_agent" output="screen">
    </node>

</launch>
